[2021-03-31 15:53] ZhuYufei990 opened #16 "Button to "Statistic Modul" doesn't work"
I've just installed the SmICS Core and SmICS Visualisierung on our cloud server, running in docker.
With <Server_IP>:<Server_port> I can open the first page of SmICS 0.8, but when clicked on the button to Statistic Modul, the browser just opened a new tab with "http://localhost:9787/", which of course showed nothing because nothing was installed on localhost.

[2021-03-31 16:36] ZhuYufei990 opened #15 "Visualisierung readme: private git-Repo in ReadME"
It is including the private Git Repository from Darmstadt in README.

[2021-04-01 09:28] ZhuYufei990 opened #1 ""Statistik" Page blocked"
with http://myServer_IP:9787/Statistik the page just blocked.
![SmICSWebApp - Google Chrome Do, 01 04 21 10_46_28 (2)](https://user-images.githubusercontent.com/79518032/113273871-5bc50b80-92dd-11eb-8ac6-b23da0f7f7c4.png)
![SmICSWebApp - Google Chrome Di, 06 04 21 17_26_14 (2)](https://user-images.githubusercontent.com/79518032/113736457-675d6b80-96fd-11eb-8ed8-039b95693144.png)

[2021-04-07 11:10] ZhuYufei990 opened #14 "SmICSVisualisierung: failed by "npm install / run build""
Update by Version 0.9.0:
OS: Ubuntu 20.04
npm: v14, installed by nvm, just like in ReadME

First test all npm commands (install, run build, run server)  in the project, if they don't work locally, also can't work in docker container.

- npm install : if failed with node-sass, then try `npm install --unsafe-perm node-sass` to install it seperately, then run `npm install` again.  If it finished with

[2021-04-08 10:24] ZhuYufei990 opened #2 "can not get right response from AQL Queries"
with Ehr Base Server we got 400 by some AQL Queries, oder 200 but empty response body, so the frontend got 500 and showed nothing. With Better Server it should work better.

[2021-04-09 15:58] ZhuYufei990 opened #3 "Spell mistakes in the both postman_collection files in /TestData"
**SmICS_TestDataCollection.postman_collection:**
for Patient 1-16, request body in Stat. Versorgungsfall, code_string for "Organisationsschlüssel" were "100" or "500", but the server wants "0100" / "0500". Ehrbase Server can that accept, but Better not.

**SmICS_AQLCollection.postman_collection:**
* in EpiCurve should first run EpiCurve copy, then PatientLocation, not like the order in Postman
* i

[2021-04-13 16:16] dagmarkrefting opened #13 "jan instead of Sun"
In the timeline (Fallzahlen und Epidemiologische Kurve) sunday appears as "Jan"
Anyhow, when the figure title are in German, probably the weeknames should also appear in German?

![Screenshot from 2021-04-13 18-14-40](https://user-images.githubusercontent.com/10370998/114585722-3bedfa00-9c84-11eb-9220-add29fac3385.png)

[2021-04-14 11:17] ZhuYufei990 commented on #14
I got the same issue on Ubuntu 20.4 too. After "npm install" I got error "Permission denied" with node-sass in scripts/install.js. And the system wants to run "npm audit fix" to fix something.

[2021-04-14 11:19] ZhuYufei990 commented on #16
as a workground we can direktly open the page with "http://server_IP:9787", more issues about this part are listed in highmed/SmICSCore.

[2021-04-22 08:14] dagmarkrefting opened #12 "No Header implemented"
Currently the User Interface does not include any information about HiGHmed and NUN B-FAST and the name of the System. Please add a Header

[2021-04-22 08:18] dagmarkrefting opened #11 "No tiptoes for the buttons"
The buttons are not sef-explainable. At least tiptoes should be added, and some short information about the functionality

[2021-04-22 08:48] dagmarkrefting opened #4 "probably common repo for issues?"
If something doesn't work with smics, hwo should users know, that it is a problem fo core or visualization (or even backend). I would suggest to collect issues in one repository. Mayby core and close the visualiation-issue-track?

[2021-04-23 08:22] Martin-Wiesenfeldt opened #5 "Startseite "aufhübschen""
Startseite (:9787) für Endbenutzer funktionell auf Stand bringen:

1.  Kurzer Introtext, wofür,
2. minimale Bedienhinweise,
3. Link zum Benutzerhandbuch
4. ordentliche Logo-Vorlagen einbinden

[2021-04-23 08:26] Martin-Wiesenfeldt opened #6 "Buttons funktionell machen"
Querlinks funktionell machen
Auswahl der Patienten für Benutzer machbar; aus drop-down-Liste, oder Text, oder Handbuch/Datei/...

[2021-04-23 08:28] Martin-Wiesenfeldt opened #7 "Subdomain einrichten: bfast.num.umg.eu"

[2021-04-23 08:29] Martin-Wiesenfeldt opened #8 "Logos bereitstellen"

[2021-04-23 13:15] Martin-Wiesenfeldt opened #9 "Disclaimer: minimal hardware requirements for usage (screen resolution)"
I don't know whether it can be realized in this short time. But it would be best if the window opens without any warning if the requirements are met and can not be resized below this minimum. And only in case the requirements are missed the warning appears.

[2021-04-28 08:47] Martin-Wiesenfeldt opened #10 "Optische Differenzierung Daten allgemeiner Natur und Daten aus meinem Krankenhaus o.ä."
Wenn ich das richtig verstehe, beziehen sich bei der Statistik ersten beiden Buttons auf die Zahlen vom RKI, die anderen drei auf den eigenen Datenbestand. Das sollte irgendwie differenziert werden (jeweils Box drum, vertikaler Trennstrich, andere Buttonfarbe...).

[2021-04-28 08:50] wulffant commented on #8
Bereitgestellt durch Martin am 23.04.

[2021-04-28 08:50] #8 closed, assigned to Martin-Wiesenfeldt

[2021-04-28 08:51] wulffant commented on #5
Introtext und Bedienhinweise wurden eingefügt (23.04.)
Logo wurden eingefügt (26.04.)

[2021-04-28 08:55] wulffant commented on #5
Satz einfügen: Hier (Link: https://github.com/highmed/SmICSCore/blob/develop/Benutzerhandbuch_CoSurvSmICS_V0_8_Test.pdf) finden Sie ein ausführliches Benutzerhandbuch.

[2021-04-28 08:56] wulffant commented on #10
@yussefal Bitte erste Ideen zur Umsetzung überlegen, mit Martin absprechen, mit mir absprechen.

[2021-04-28 09:00] wulffant commented on #9
needs more description, to be discussed in next Friday round. @Martin-Wiesenfeldt please add this to your points for Friday

[2021-04-28 09:02] wulffant commented on #1
@yussefal @biermapa is this now solved in the new version?

[2021-04-28 09:03] wulffant commented on #6
@Martin-Wiesenfeldt please create a new issue for the second aspect because this is a different topic

[2021-04-28 09:05] wulffant commented on #3
Please close issue if it has been resolved in the current version @biermapa

[2021-04-28 09:12] biermapa commented on #5
Done!

[2021-04-28 09:17] wulffant commented on #4
Both repos are now linked to the SmICS project: https://github.com/orgs/highmed/projects/1

[2021-04-28 09:17] #4 closed, assigned to wulffant, biermapa

[2021-04-28 09:20] biermapa commented on #6
1. Punkt Done.
2. Punkt bitte in Freitagsrunde ansprechen, bevor Designvorschläge als Issues angelegt werden!

[2021-04-28 09:20] #6 closed, assigned to biermapa

[2021-04-28 09:20] #16 closed, assigned to biermapa

[2021-04-28 09:23] wulffant commented on #13
Thanks for the comment, we will redesign the entire view until the next release in July
@biermapa

[2021-04-28 09:25] wulffant commented on #12
need to be discussed and assigned on Friday

[2021-04-28 09:28] wulffant opened #17 "Discuss open visualisation tasks by Christoph"
Organise with Tatiana (Detailansicht der Patienten)

[2021-04-28 09:31] wulffant commented on #2
Wie ist der Stand bzgl AQL-Updates in EHRbase?
@biermapa @birgerhaarbrandt

Letzter Stand: 23.04. EXISTS funktioniert

[2021-04-28 10:38] yussefal commented on #1
Yes, this Issue has been solved in the new version!

[2021-04-28 10:38] yussefal commented on #1
Yes, this Issue has been solved in the new version!

[2021-04-28 10:42] #1 closed, assigned to yussefal

[2021-04-28 13:07] ZhuYufei990 commented on #2
next Problem: Ehr Base Server doesn't want 'Fall-Kennung' in AQL Query for PatientAdmission & PatientDischarge:

and c/context/other_context[at0001]/items[at0003 **,'Fall-Kennung'** ]/value/value = '00000005'

[2021-04-30 06:48] wulffant commented on #5
Das HiGHmed-Auge-Bild soll noch entfernt werden. @Martin-Wiesenfeldt kannst du hier bitte nochmal deine Bildvorschläge einfügen?

[2021-04-30 06:52] Martin-Wiesenfeldt commented on #5
Zwei Alternativvorschläge sind
https://pixabay.com/de/photos/coronavirus-virus-maske-corona-4914026/
https://cdn.pixabay.com/photo/2020/03/17/04/19/corona-4938929_960_720.jpg

[2021-04-30 07:13] wulffant commented on #9
-> für Version 1.0 Oktober
Martin informiert Standorte bei Auslieferung der Demo-Version und erfragt need, ggf. für Tablet-Ansicht.

[2021-04-30 07:20] wulffant commented on #7
Ggf. Zhu informieren, dass Alan und Paul bei Installation der Demo Version dabei sein möchten. @ZhuYufei990

[2021-04-30 07:21] wulffant commented on #12
Alle Logos sind unten, kein Logo im Header.

Erstellen eines SmICS-Logo? -> Martin

[2021-04-30 07:24] wulffant commented on #15
needs more description, please explain @ZhuYufei990

[2021-04-30 07:26] wulffant commented on #14
Tom is working on a bug fix.
Meeting Tom & Pascal will take place after authentication is implemented

[2021-04-30 07:27] wulffant commented on #2
@biermapa  will modify 2 AQLs with Fall-Kennung

[2021-04-30 07:29] wulffant commented on #3
@Kuri99 solved these errors
@biermapa needs to merge

[2021-04-30 07:29] wulffant commented on #17
Meeting will take place next week

[2021-04-30 07:35] wulffant commented on #5
quick fix: öffentlich verfügbares Bild als Alternative einfügen

[2021-04-30 13:10] Martin-Wiesenfeldt commented on #5
Weitere Vorschläge seitens unserer Design-Expertin:
-	Kontaktinformationen im Footer ergänzen
-	Links prüfen
-	Links hinter den Logos hinterlegen, die zu den jeweiligen Projektseiten führen
-	ggf. eine Logo für das SMICS entwickeln
-	alles Logos auf das gleiche Format bringen und in den Footer verschieben
-	BMBF-Logo erweitern um „gefördert vom“

[2021-04-30 23:22] yussefal commented on #10
Eine Idee zur Umsetzung wurde nach der Vorstellung übernommen.

[2021-04-30 23:22] #10 closed, assigned to yussefal

[2021-05-03 05:41] Martin-Wiesenfeldt commented on #7
Sehr geehrte(r) Martin Wiesenfeldt,

Ihre virtuelle Maschine mit dem Namen 'UKEI_smicspublic' wurde eingerichtet.
Zur Installation müssen Sie sich per Remote Desktop Verbindung (RDP) auf unserem Windows-Terminalserver[2] einloggen und dort im Browser https://vcenter.gwdg.de aufrufen.
Bitte beachten Sie die veränderten Zugriffswege zum Terminalserver! [3] Bitte installieren Sie nach der Betriebssys

[2021-05-03 05:41] #7 closed, assigned to Martin-Wiesenfeldt

[2021-05-04 08:46] wulffant opened #18 "Design Vorschläge"
Weitere Vorschläge seitens unserer Design-Expertin:

- [x] -	Kontaktinformationen im Footer ergänzen
- [x] -	Links prüfen
- [x] -	Links hinter den Logos hinterlegen, die zu den jeweiligen Projektseiten führen
- [x] -	ggf. eine Logo für das SMICS entwickeln
- [x] -	alles Logos auf das gleiche Format bringen und in den Footer verschieben
- [x] -	BMBF-Logo erweitern um „gefördert vom“

_Originally po

[2021-05-04 08:48] wulffant commented on #5
Vorschläge verschoben in neues Design-Issue für V1.0 (wie Freitag besprochen) #18

[2021-05-04 09:06] wulffant opened #19 "Detection algorithm: extend the AQL for differentiation of hospital ward"
Extend the AQL for differentiation of hospital station.

[2021-05-04 09:07] wulffant opened #20 "Check unit test bug with Visual Studio on PLRI server"
Check unit test bug with Visual Studio on PLRI server

[2021-05-04 09:07] wulffant opened #21 "Merge fixes found in real data test in Hannover"
Merge fixes found in real data test in Hannover

[2021-05-04 09:12] wulffant opened #22 "Fix minor bugs/changes in the RKI algorithm interface"
- [x] improved naming of output variables for visualization team,
- [x] using of dynamic path for saving and retrieving of json files with input/output variables,
- [x] catching variational phrases for negative/positive/not detected test result in the AQL,

[2021-05-04 09:13] wulffant opened #23 "Edit Data representation in Statistikmodul"
Die Daten sind nicht gut lesbar, da die Dezimaltrennzeichen bei den Zahlen fehlt.

![Dashboard](https://user-images.githubusercontent.com/80678828/116985679-1c6b4f80-accd-11eb-81dc-6949a1d7a2ff.png)

[2021-05-04 09:15] wulffant opened #24 "Handbuch aktualisieren"
Benutzerhandbuch V0.8 (Test) aktualisieren, sobald V0.8 verfügbar.

[2021-05-04 09:16] wulffant opened #25 "Authentifizierungskomponente einbauen"
OAUTH2 Standard-Anbindung
(OAUTH2 Client an den Standorten muss vorhanden sein)

[2021-05-04 09:45] yussefal commented on #23
@wulffant hier ist eine kurze Beschreibung.

[2021-05-10 10:58] yussefal opened #26 "Fehler in der Grafik auf der Statistikseite"
Die Farbe in der Grafik wird fehlerhaft dargestellt.

![Karte](https://user-images.githubusercontent.com/80678828/117649093-63ef5100-b18f-11eb-800d-3bb512b02924.png)

[2021-05-17 13:59] Martin-Wiesenfeldt opened #27 "Server-Zertifikat für bfast.num.umg.eu"
Get a PKI-certificate by the DFN for secure access to this web-server.

[2021-05-20 08:43] wulffant commented on #25
Stand: Verzögerung aufgrund Git-Account-Bereitstellung

[2021-05-21 06:12] wulffant opened #28 "SmICS Ehrbase Anbindung"
SmICS EHRbase Anbindung testen

[2021-05-21 06:15] wulffant commented on #9
Antje nimmt diesen Punkt zusätzlich als Diskussionspunkt für das nächste Tandem-Meeting (HiGHmed IC) auf

[2021-05-21 06:18] #12 closed, assigned to wulffant

[2021-05-21 06:25] #5 closed, assigned to biermapa, Kuri99

[2021-05-21 06:37] wulffant opened #29 "Testdatengenerierung"
Generierung weiterer Testdaten

- [x] Kurze Aufenthalte (OPs, etc.)
- [x] "Echt"-Testdaten (am Beispiel MHH Daten)

[2021-05-21 06:39] wulffant opened #30 "Kontakterfassung klinisches Personal (Prototyp)"
Formulare einpflegen nach den Templates
@Kuri99 bitte hier einmal die Links zu den verwendeten Templates einfügen

[2021-05-21 06:41] wulffant opened #31 "SmICS-Logging/Audit Trail"
- [ ] Refactoring
- [ ] Funktion Audit Log hinter Docker

[2021-05-21 06:43] wulffant opened #32 "HiGHmed-SmICS (Mibi SmICS)"
modifizierte "openMibi" Integration
Checken der Queries
Anpassen R-Algorithmus
Einbindung NEC-Algorithmus

[2021-05-21 06:44] wulffant opened #33 "Erstellen von Tests für das Statistikmodul"
to be discussed with @biermapa

[2021-05-21 06:50] wulffant opened #34 "FHIR Bridge for SmICS"

[2021-05-21 06:53] wulffant opened #35 "Submission for MedInfo2021 und GMDS2021"

[2021-05-21 06:54] #35 closed, assigned to wulffant

[2021-05-21 06:55] wulffant opened #36 "Übergeordnete Task: R-Algorithmus RKI einbinden"
Einbindung des RKI R-Algorithmus zur Detektion von Clustern/Ausbrüchen

- [x] Variante für virologische Erreger
- [x] Variante für mikrobiologische Erreger
- [x]  kurze Doku erstellen für end. Niveau, Ausbruchswahrscheinlichkeit, Obergrenze
- [x] ggf. Einstellen der Look-Back-Variable durch user ermöglichen (bspw. in Wochen, z.B. 1,2,4,8)
- [x] Catch für Datumsangaben bzgl Look-back einbauen
- [x]

[2021-05-21 06:58] wulffant commented on #36
additional issues related to this issue: #19 and #22

[2021-05-21 08:04] #2 closed, assigned to birgerhaarbrandt, biermapa

[2021-05-21 08:10] ZhuYufei990 commented on #34
Zustand am ~~21.05.2021,10:00~~
 ~~28.05.2021, 11:00~~
~~04.06.2021, 12:00~~
~~25.06.2021, 10:30~~
~~23.07.2021, 10:15~~
~~06.08.2021, 10:00~~
13.08.2021, 10:00

- Impfstatus -> done
- Pateintenaufenthalt -> done
- Stationär Versorgungsfall -> done
- Symptom -> done
- Virologischer Befund -> done
- Mikrobiologischer Befund -> zuerst nicht von B-FAST SmICS gebraucht

[2021-05-21 09:57] Kuri99 commented on #30
Formulare angepasst. Tests fehlen noch.

[2021-05-21 09:58] yussefal opened #37 "Weiterentwicklung der Statistikmodule"
**Ziel:** Bessere Repräsentation der Daten mittels Chart.

**Stand:** Die Daten zusammenführen, um sie in Charts einzubinden. Desweiteren aus dem Testbeispiel unten zu entnehmen.

**Lizenzen:** Es werden folgende Charts,  Line Chart,  Bar Chart und Pie Chart aus dem [Repository ](https://github.com/mariusmuntean/ChartJs.Blazor) verwendet, welches unter dem MIT License läuft.

![Test1](https://user

[2021-05-21 10:00] Kuri99 commented on #31
Loglevels müssen noch angepasst werden.

[2021-05-21 10:22] yussefal commented on #23
Die Daten wurden im Feature angepasst angepasst und können in Devlope gemerged werden!

[2021-05-21 10:29] yussefal commented on #26
Der Fehler wurden im Feature Branch behoben und kann in Devlope gemerged werden!
Die Ursache des Fehlers war, dass die Grenzwerte in der Grafik nicht berücksichtigt waren.

[2021-05-21 12:42] wulffant opened #38 "Dokumentation der Fehler bei SmICS Core Installation/Docker"
Ubuntu related issues with Docker-support? Please document here.

Extension and refinement of repositories installation and execution manual.

[2021-05-21 12:43] wulffant opened #39 "RollOut Checkliste für Standorte"

[2021-05-21 12:45] wulffant opened #40 "Impfstatus und Symptom FHIR Mapping Doku ergänzen"

[2021-05-21 12:45] wulffant opened #41 "Visualisierung/Formulierung Ziele"

[2021-05-21 12:47] wulffant opened #42 "Zusammenstellung und Ergänzung der fachlichen Dokumentation"
Durch Sylvia

[2021-05-21 14:03] ZhuYufei990 commented on #28
Aktuelle Bug Issue liegt in Ehrbase Projekt:

https://github.com/ehrbase/ehrbase/issues/507

[2021-05-25 07:29] yussefal opened #43 "Statistikmodul zeigt keine Daten an"
Aufgrund von Änderungen in der Datenstruktur durch das RKI können keine Daten angezeigt werden.

[2021-05-25 08:53] yussefal commented on #43
Die Datenstruktur wurden im feature/Statistikmodul_CronJob angepasst und der Fehler wurde behoben!
Es muss nur noch in Devlope gemerged werden!

[2021-05-25 12:31] wulffant commented on #40
FHIR/openEHR-Mapping für Symptome ist hier:  https://ckm.highmed.org/ckm/document?cid=1246.159.141
FHIR/openEHR-Mapping für Impfstatus ist noch nicht verfügbar, da die FHIR Bridge Strecke noch nicht fertig ist.

Neu in https://ckm.highmed.org/ckm/document?cid=1246.159.121 hinterlegt

[2021-05-26 10:24] Martin-Wiesenfeldt opened #44 "RKI Statistik - Message / Timeout"
Currently, when loading the statistics and there are issues with the RKI data (connection, server down, changed file formats / API's, ...) the page keeps on loading. However, the work with local data was still possible and of high relevance to the end user.
Therefore I would suggest to introduce a message on the screen (e.g. "Loading RKI data ....") s.t. the user knows what is going on in the back

[2021-05-28 07:13] wulffant commented on #37
Bitte finalisieren, dann zunächst keine neuen Funktionen und Schnittstellen.
Fokus nächste Phase: Einarbeitung Feedback Anwender:innen

[2021-05-28 07:25] wulffant commented on #36
- [ ] kurze Doku erstellen für end. Niveau, Ausbruchswahrscheinlichkeit, Obergrenze

[2021-05-28 07:27] wulffant commented on #38
Termin nächste Woche, dann wird readme aus SmICS Core angepasst
Hier bitte die Änderungen kurz dokumentieren

[2021-05-28 07:33] wulffant commented on #36
**abhängig von AQL-Bug in #22**

[2021-05-28 08:06] wulffant opened #45 "Administration und Monitoring Köln-Server SmICS und EHRbase"

[2021-05-28 08:08] wulffant opened #46 "RKI-Statistikmodul: Ankündigung von Updates"
Klären, ob es die Möglichkeit gibt, über anstehende Updates an der RKI-Dashboard-Schnittstelle informiert zu werden.

[2021-05-28 08:11] #17 closed, assigned to wulffant, yussefal

[2021-05-28 08:30] yussefal commented on #45
ToDo:

1. Testdaten hinzufügen bzw. aktualisieren
2. SmICS Core aktualisieren

[2021-06-01 07:42] wulffant opened #47 "Catch für RKI-Schnittstelle"
Einbauen eines Hinweis, falls das Laden der RKI-Daten aufgrund sich geänderter Schnittstellen nicht funktioniert.
Aktuell wird lediglich das Ladeicon angezeigt und der Benutzer wartet "endlos".

[2021-06-01 07:44] wulffant commented on #42
Absprache am 01.06. mit Sylvia

Benutzerhandbuch wird angepasst
Stand der Dokumente zu Datenschutz/Ethik wird nachgefragt
Checkliste für das Rollout wird erstellt

[2021-06-01 07:45] wulffant commented on #24
in Bearbeitung durch Sylvia, issue #42

[2021-06-01 07:45] wulffant opened #48 "Startseite wechseln"

[2021-06-01 07:46] wulffant opened #49 "Überarbeitung EpiCurve Ansicht"
EpiCurve Ansicht 1 (summierte Ansicht) korrigieren/Absprache mit Tom

[2021-06-01 07:47] wulffant commented on #32
Einbindung NEC-Algorithmus seitens Visualisierung erfolgt durch Master-Student Herr Schäfer

[2021-06-01 07:48] wulffant opened #50 "Datenschnittstelle und Ausgestaltung "Detaillierte Patientenansicht""
mit Symptome, Impfungen (ehem. "Christophs Modul")

[2021-06-01 10:44] wulffant commented on #48
Es gibt keine festgelegte Startseite - je nach Vorlieben, kann der Nutzer das selbst auswählen, in dem der Port entsprechend angegeben wird. Auch beim Hinzufügen der Anmeldung, gibt es hier keine Hindernisse, da das Anmeldefenster vor beide Webseiten geschaltet wird.

[2021-06-01 10:44] #48 closed, assigned to biermapa

[2021-06-01 10:49] wulffant opened #51 "Patientenhistorie: Farbige Stationen und Markierung gleicher Stationen"

[2021-06-01 10:49] wulffant opened #52 "Visualisierung: Kontaktnetzwerk: Unterscheidung Station/Zimmer"

[2021-06-01 10:49] wulffant opened #53 "EpiCurve: Filter nach Station"

[2021-06-01 10:50] wulffant opened #54 "Visualisierung: Komponente Kontaktnachverfolgung hinzufügen"

[2021-06-01 10:50] wulffant opened #55 "Ausbruchsdetektion in EpiCurve einbauen (RKI-Algorithmus)"

[2021-06-01 10:50] wulffant opened #56 "NEC-Algorithmus einbauen"
- [x] JSON File an NEC schicken (@biermapa)
- [x] Termin mit Visu, Steffens Ansichten

[2021-06-01 11:02] PaulWaldstein commented on #38
Beim Termin wurden folgende Punkte als Ergänzungen vorgeschlagen:

- Nummerierung der Installationsschritte,
- Unterteilung des Docker-Aufrufs in zwei Gruppen, da der Befehl ''network create'' nur einmal erforderlich ist,
- Hinweis auf wechseln ins Visualisierungsverzeichnis nachdem der Docker gestartet ist,
- starten der Kommunikation zwischen dem SmICSCore- und dem SmICSVisualisierungsmodul,
- e

[2021-06-02 05:53] Martin-Wiesenfeldt commented on #46
Antwort des RKI: So eine Mailingliste gibt es leider nicht.
Es müssen also andere Mechanismen verwendet werden.

[2021-06-02 05:53] #46 closed, assigned to yussefal, Martin-Wiesenfeldt

[2021-06-02 05:59] Martin-Wiesenfeldt commented on #46
Sehr geehrter Herr Dr. Wiesenfeldt,

eine Mailingliste dafür gibt es leider nicht.

Mit freundlichen Grüßen
i.A.
Viviane Bremer

******************************************
 Dr. med. Viviane Bremer MPH
 Fachgebietsleiterin
 HIV/AIDS und andere sexuell oder durch
 Blut übertragbare Infektionen
 Robert Koch-Institut
 Seestrasse 10
 13353 Berlin
 Tel:  +49-30-18754-3487
 Fax: +49-30-18754-3533
 www.rk

[2021-06-04 06:12] yussefal commented on #37
**Stand:**  EHR Daten in Charts eingebunden.
**TODO:** Code Review mit @biermapa

[2021-06-04 06:15] yussefal commented on #33
**Stand:**  Erste Tests für Statistikmodul sind fertig.
**TODO:** Ersten Code Review mit @biermapa und dann weiter testen.

[2021-06-04 08:27] PaulWaldstein commented on #36
Kurze Doku für end. Niveau, Ausbruchswahrscheinlichkeit und Obergrenze:

[https://owncloud.gwdg.de/remote.php/webdav/B-Fast/Aufgabenbereich%20%22Algorithmen%22/Bestimmung_der_Outputgroessen_im_RKI_Algorithmus.pdf](url)

[2021-06-04 10:12] wulffant commented on #45
Dokumentation über Update-Verfahren/Prozess in Installationsanweisung (readme) ergänzen, siehe auch #38

[2021-06-04 10:14] wulffant commented on #47
Es sollte an den Standorten nachgefragt werden, ob ein Zugriff auf das Internet/die öffentliche Schnittstelle des RKI möglich ist oder das SmICS in einer Intranet-Umgebung ohne solche Zugriffsmöglichkeiten nach außen aufgesetzt wird. @Martin-Wiesenfeldt und Sylvia ergänzen diese Abfrage in der RollOut Checkliste.

[2021-06-04 10:15] wulffant commented on #39
In Arbeit durch Sylvia und @Martin-Wiesenfeldt.
Bitte #47 in die Checkliste aufnehmen (Zugriff von SmICS nach außen).

[2021-06-04 10:15] wulffant commented on #24
Termin zwischen Sylvia und @wulffant hat stattgefunden, Termin mit @yussefal notwendig

[2021-06-04 10:17] wulffant commented on #38
Es folgt ein Termin zwischen Pascal und Alan bzgl. Update (siehe dazu #45). Die Ergebnisse werden ebenfalls in die Installationsanweisung aufgenommen.

Nächster Schritt: Vorschlag für eine modifizierte readme/Installationsanleitung bis zum nächsten Weekly aufsetzen.

[2021-06-04 10:17] wulffant commented on #31
Termin zwischen @Kuri99 @biermapa @wulffant erforderlich zum Abstimmen der Inhalte der Logs.

[2021-06-04 10:17] wulffant commented on #29
Review durch @biermapa erforderlich

[2021-06-07 17:57] JenHoos opened #57 "Testdaten Error: POST Sta.Versorgungsfall - 422 Unprocessable Entity"
While **post** the composition "Stat. Versorgungsfall" per Postman, this error occur:

[code]

It happens für all Patients of Szene 1+2+3.

[2021-06-08 10:20] JenHoos opened #58 "Testdaten Error: POST Viro 1 - 422 Unprocessable Entity"
While **post** the composition "Viro 1" per Postman, this error occur:

[code]

It happens für all Szenes/Patients

[2021-06-08 14:51] #58 closed, assigned to nobody

[2021-06-08 15:22] JenHoos commented on #58
The error was caused because I used the latest template, one has to use the version which is included in this git repo.

[2021-06-09 11:53] Kuri99 commented on #31
Warten auf die Authentifizierung.

[2021-06-09 11:58] biermapa opened #59 "Später: Generic Post Composition method"
- A method which checks if the subject Id has an EHR otherwise creates one
- Sends a Composition

[2021-06-09 15:33] PaulWaldstein commented on #22
- [x] catching variational phrases for negative/positive/not detected test result in the AQL,

[2021-06-11 06:37] yussefal commented on #37
**Stand**: Review mit @biermapa durchgeführt.
**TODO** Änderungen bzw. Verbesserungen vornehmen, um es beim nächsten Merge Termin nächste Woche zu mergen.

[2021-06-11 06:53] yussefal commented on #33
**Stand**: Ersten Code Review mit @biermapa durchgeführt.
**TODO**:
- [x] Testprojekt auf dem Server neue anlegen
- [x] Teststruktur anpassen
- [x] Den ersten Teil erweitern und dann mergen
- [x] Tests für den zweiten Teil  schreiben.

[2021-06-11 08:37] yussefal commented on #47
**Stand**: Funktion ist eingebaut
**TODO**: Es muss noch getestet werden

[2021-06-11 09:42] Kuri99 commented on #30
Erstes Formular lässt sich ohne Problme abspeichern. Die beiden anderen werden angepasst.

[2021-06-15 08:54] yussefal commented on #45
Am 10.06 fand ein Termin mit @biermapa statt, wo wir gemeinsam die Installation von SmICS Core und EHRbase auf Köln-Server fortgesetzt bzw. ergänzt haben.

Am 14.06 habe ich EHRbase und SmICS bei mir lokal aufgesetzt, um später das Visualisierungsteam so gut wie möglich zu unterstützen und um die Installationsanweisung zu überprüfen #38 .

[2021-06-18 07:05] wulffant commented on #38
Alan hat Vorschlag für readme geschickt, Pascal hat Feedback am 18/06/21 gegeben und aktualisiert readme.

[2021-06-18 07:06] wulffant commented on #45
Email an Köln geschickt, ab jetzt normaler Monitoring + Adminprozess gestartet.

[2021-06-18 07:15] wulffant commented on #36
Look-back-Variable und Catch: Paul schreibt Tom bzgl. Visualisierungsanforderungen (Warnhinweis + Eingabe/Auswahlfeld)

[2021-06-18 07:18] wulffant commented on #22
temporary saving of algorithm results for faster local retrieving for visualization -> in json #68

[2021-06-18 07:20] wulffant commented on #19
Procedure-Entwurf liegt vor, aber Stationen werden nicht zurückgegeben -> Grund: Stationen sind nicht immer im virol. Befund gespeichert
-> über Bewegungen (Bewegungen zu Fall, die Bewegungsstation raussuchen, die zeitl. zur Probenenthame passt) suchen, Pascal hat Infos dazu per Slack geschickt.

Anfrage an Tom bzgl. aktueller Stand wird durch Paul gestellt.

[2021-06-18 07:24] wulffant commented on #30
Absprache mit Antje bzgl. Formular/Template (mandatory/optional)

[2021-06-18 07:25] wulffant commented on #29
Separierung von anderen to dos im Branch folgt, danach merge

[2021-06-18 07:29] wulffant commented on #32
- Pascal hat weiter an Mibi-SmICS gearbeitet
- Testdaten erstellt
- Erster GUI-Entwurf erstellt

[2021-06-18 07:29] wulffant commented on #28
Christian hat Fehler in EHRbase behoben und zur Verfügung gestellt.
Leider immer noch Fehler vorhanden (jetzt sogar mehr Fehler?)
Pascal hat Christian zurückgemeldet

[2021-06-18 07:29] wulffant commented on #25
In Bearbeitung durch SVA, hat begonnen, verzögert sich weiter

[2021-06-18 07:31] wulffant commented on #49
Termin vereinbaren bzw. kurze Absprache

[2021-06-18 07:34] wulffant commented on #15
Update der readme Visualisierungsdatei - wird im nächsten Visualisierungsmeeting besprochen.

[2021-06-18 07:35] wulffant commented on #21
check state

[2021-06-18 07:38] wulffant opened #60 "Bereinigung von Code"

[2021-06-18 07:46] wulffant opened #61 "Überarbeitung Betriebskonzept für CODEX"

[2021-06-18 07:50] wulffant opened #62 "Ort für Dateienablage"

[2021-06-18 07:53] wulffant commented on #62
Sylvia macht Liste der aktuell verfügbaren Ordner

[2021-06-18 08:00] wulffant commented on #39
Fragebogen zur Evaluation des Co-Surv-SmICS wird erstellt

[2021-06-18 08:01] wulffant commented on #42
@wulffant hat das modifizeirte Handbuch bekommen, Feedback kommt

[2021-06-22 06:23] wulffant commented on #18
@biermapa @Kuri99 Könntet ihr mal prüfen, was davon schon umgesetzt wurde und dann hier entsprechend abhaken? Danke

[2021-06-22 06:24] wulffant opened #63 "Patienten-Historie Mouse Over "Result""
Aktuell wird im grauen Bereich des Mouse Overs (Modul Patienten-Historie/Timeline) "Result: negative" angezeigt. Die Tabelle enthält dann nochmals "Ergebnis". Result: negative ist im grauen Bereich dann nicht notwendig.

[2021-06-22 10:50] Kuri99 commented on #18
@wulffant  Welche Kontaktinformationen sollen den hinterlegt werden? Von wem?

[2021-06-22 11:04] wulffant commented on #18
"Kontaktinformationen im Footer ergänzen" und "BMBF-Logo erweitern um „gefördert vom" werden beim nächsten merge eingepflegt.

[2021-06-23 09:38] yussefal commented on #50
Für die Weiterentwicklung wird ein Termin mit @Kuri99 und @Lamachuk stattfinden.

[2021-06-23 12:07] Kuri99 commented on #30
Links zu den Templates:

- Bericht zur Kontaktverfolgung (http://88.198.146.13/ckm/templates/1246.169.794)
- Personendaten (http://88.198.146.13/ckm/templates/1246.169.1168)
- Personeninformation zur Infektionskontrolle (http://88.198.146.13/ckm/templates/1246.169.1082)

[2021-06-23 12:09] Kuri99 commented on #30
Die beiden anderen Formulare sind jetzt angepasst und müssen auf Better getestet werden.

[2021-06-24 17:03] sylvializmirandah commented on #62
E-Mail with link to shared GWDG ownCloud folder WP3.7 (Co-Surv-SmICS development) & WP3.9 (Co-Surv-SmICS Rollout) sent to Antje Wulff on June 23rd. Does this suffice?

Are there any other ideas/suggestions to exchange information and streamline file sharing in the context of the Co-Surv-SmICS project? e.g. GitLab (used in Göttingen)?

[2021-06-24 17:27] sylvializmirandah commented on #42
Status update: June 24th

**User manual**
User manual of Co-Surv-SmICS V0.8 (Test): editing (proofreading, correction, updating screenshots for statistics module) completed on June 22nd
Alan to incorporate amendments in his branch

**Software Rollout and Deployment Checklists**
Software evaluation questionnaire in progress

**Data security concept/ethical approval**
Göttingen to provide conceptual

[2021-06-24 17:34] sylvializmirandah commented on #39
Design of software evaluation questionnaire in progress based on software quality characteristics as outlined in ISO 25010

[2021-06-25 07:09] wulffant commented on #15
Am Mittwoch (Visu-Meeting) an Tom weitergegeben, Link wird entfernt.

[2021-06-25 07:16] wulffant commented on #19
Receive Model der EpiCurve kann übernommen werden, Factory aber nicht.

[2021-06-25 07:23] wulffant commented on #50
Symptome, Impfungen Testdaten wurden Tom zur Verfügung gestellt

[2021-06-25 07:26] wulffant commented on #21
tested with real data in Hannover, some fixes done
- Patient Timeline, EpiCurve done
- Still issues with contact networks (possibly visualisation issue)

[2021-06-25 07:28] wulffant commented on #49
- Tom hat EpiCurve überarbeitet
- Warte auf Einpflegen der RKI-R-Algorithmus-Ansicht, dann mergen

[2021-06-25 07:29] wulffant commented on #28
Bisher noch keine Rückmeldung von EHRbase

[2021-06-25 07:35] biermapa opened #64 "Adding new Testdata in UnitTests"
Kristina added some TestData, these needed to be added in the Result from the UnitTests

[2021-06-25 07:51] wulffant commented on #34
- Norman hat openEHR SDK issue angelegt (Impfstatus) und wartet auf fix

[2021-06-25 11:20] yussefal commented on #37
- [x] Sowohl EHR Daten als auch RKI Daten wurden eingebunden.
- [x] CronJob erstellen, um RKI Daten zu aktualisieren.

[2021-06-25 12:24] Kuri99 commented on #30
Alle Formulare lassen sich jetzt abspeichern.

Next: Tests für die dazugehörigen Schnittstellen und Connections

[2021-07-02 06:47] yussefal commented on #50
Der Termin mit @Kuri99, @Lamachuk, Felix und mir findet am 02.07.2021 statt.

[2021-07-02 06:54] yussefal commented on #37
Die Weiterentwicklung ist abgeschlossen. Es muss nur noch getestet werden!

[2021-07-02 07:06] wulffant opened #65 "Einarbeitung der Punkte aus Benutzerhandbuch-Anmerkung von Antje"

[2021-07-02 07:24] wulffant commented on #61
erster Entwurf steht; wird überarbeitet und dann geschickt

[2021-07-02 07:25] wulffant commented on #62
Neue Struktur vorgeschlagen, Antje gibt Feedback

[2021-07-02 07:29] wulffant opened #66 "Regelmäßige Statusupdates an die Standorte"

[2021-07-02 07:32] wulffant opened #67 "ggf. Fehler in startup.cs"

[2021-07-02 07:33] wulffant commented on #67
Kristina setzt beim nächsten Merge wieder zurück, kann aber auch lokal, zB bei Zhu, geändert werden.

[2021-07-02 08:09] wulffant opened #68 "Konfig-Seite für RKI-R-Algorithmus"
Abgeleitet aus den letzten Punkten im Issue #36  und ergänzend:

Erstellung einer Razor-Konfigurationsseite mit Auswahlmöglichkeiten

- [x] eines von 5 Erregern + 1 SARS COV 2 aus dem Antrag,
- [x] des Lookback-Zeitraums (aus welchem zurückliegenden Zeitraum sollen die Daten für den Algorithmus verwendet werden),
- [x] Startuhrzeit für tägliche Auswertung des Algorithmus,
- [x] Angabe der Station

[2021-07-02 08:10] wulffant commented on #68
Antje muss Termin vereinbaren (Tom, Pascal, Kristina, Paul, Antje)

[2021-07-02 08:11] wulffant opened #69 "Pseudonymisierung auflösen, ggf Meeting organisieren"
mit Norman

[2021-07-02 08:11] wulffant opened #70 "Statistik-Modul, Sortierung nach Alphabet"

[2021-07-02 09:43] PaulWaldstein commented on #36
Bei der Iteration zur Bestimmung der Ausbruchswahrscheinlichkeit können sehr selten Fälle/Parameterzusammensetzungen auftreten, bei denen der Algorithmus mit einem Stop-Switch und einer Benachrichtigung abbricht. Künftig wird Information über solche Fälle mit einer zusätzlich definierten Outputvariablen an die C#-Schnittstelle übergeben.

[2021-07-02 11:12] yussefal commented on #50
Für die Weiterentwicklung wurde ein neuen Branch erstellt. Felix und @yussefal übernehmen die Weiterentwicklung des Modules und der nächsten Termin findet am 08.07.2021 statt.

[2021-07-13 12:46] Martin-Wiesenfeldt opened #71 "Timeout bei "Fallzahlen in der Region""
Seit gestern (12.07.) bemerkt: Fallzahlen in der Region lieferte gestern nach langem Timeout eine ASPNET-Fehlermeldung, heute (13.07.) gar nichts mehr Fallzahlen in Deutschland geht jedoch.

[2021-07-13 12:48] Martin-Wiesenfeldt commented on #71
Jetzt kam doch noch die Meldung:
Error.
An error occurred while processing your request.
Development Mode
Swapping to Development environment will display more detailed information about the error that occurred.

The Development environment shouldn't be enabled for deployed applications. It can result in displaying sensitive information from exceptions to end users. For local debugging, enable the

[2021-07-15 08:00] wulffant commented on #62
1.	Intern - Zugriff auf den gesamten B-FAST Ordner „Co-Surv-SmICS“ ausschließlich durch das SmICS Entwicklungsteam und das B-FAST Projektmanagement Team: https://owncloud.gwdg.de/index.php/s/4EwxhTkt0eATTmR   Kennwort: AUF ANFRAGE

2.	Öffentlich - Zugriff auf den B-FAST Ordner „Co-Surv-SmICS Öffentlich“ für B-FAST Kooperationspartner (Informationen werden bereitgestellt, um die Software lokal impl

[2021-07-15 08:01] #62 closed, assigned to wulffant, sylvializmirandah, Martin-Wiesenfeldt

[2021-07-15 14:52] sylvializmirandah commented on #42
Update 15. Juli:

- Kurzanleitung des Co-Surv-SmICS (zwei DIN A4 Seiten) wurde erstellt und in den internen ownCloud Co-Surv-SmICS Ordner (Rollout) abgelegt.
- Benutzerhandbuch wurde überarbeitet und in den internen ownCloud Co-Surv-SmICS Ordner (Rollout) abgelegt.
- Entwurf eines Co-Surv-SmICS Software Test Fragebogens (Version für Techniker) wurde erstellt und am 9.7. an Martin Wiesenfeldt und S

[2021-07-15 14:59] sylvializmirandah commented on #39
In einem ersten Schritt wird es einen Bewertungsbogen für die SmICS Tests geben. Im zweiten Schritt wird eine Umfrage zur Evaluation des SmICS erstellt (Rollout).

Update 15. Juli:
Entwurf eines Co-Surv-SmICS Software Test Fragebogens (Version für Techniker) wurde erstellt und am 9.7. an Martin Wiesenfeldt und Sabine Rey zur Durchsicht geschickt. Die finale Version wird auch an Antje Wulff und Pas

[2021-07-16 06:46] yussefal commented on #50
Folgende Testdaten müssen für Felix noch zur Verfügung gestellt:
- [x] Impfstatus mit Covid Impfungen.
- [x] Labordaten mit Viruslast

[2021-07-16 07:11] wulffant commented on #50
@wulffant

- [x] Prüfen der Value Sets in GECCO bzgl COVID-Impfungen
- [x] Anpassen der Modelle? Absprechen mit Sarah
- [x] Viruslast Größenbereiche raussuchen

[2021-07-16 07:19] wulffant commented on #19
Sortierung nach Stationen + Zählungen umgesetzt, aber doppelte Patienten/Fälle mussten bereinigt werden. Aber: Keine Testdaten vorhanden
-> umgesetzt
- [x] Übernahme der Fälle in Testdaten mit @Kuri99

[2021-07-16 07:20] wulffant commented on #19
Ausstehend:
- [x] Tests für Stationen
- [x] untersch. Längen des Lookbacks
- [x] untersch. Zeitpunkte für die Auswertung

[2021-07-16 07:24] yussefal commented on #71
Aufgrund auf einer Änderung der Datenquelle, müssen die Daten von GitHub bezogen werden, da das RKI die benötigten Daten jetzt auf Github Veröffentlicht.

Die Datenquelle wurde angepasst und der Fehler wurde behoben!

[2021-07-16 07:24] #71 closed, assigned to yussefal

[2021-07-16 07:25] wulffant commented on #68
@Kuri99  Bild einfügen

[2021-07-16 07:36] wulffant commented on #68
Kristina entwirft Konfig-Seite, aktuell: Hinzufügen/Löschen der Felder einfügen & Recherche zu geeigneten DB (NoSQL etc.)

[2021-07-16 07:42] wulffant commented on #61
Warte auf Fertigstellung der FHIR-Bridge und Authentifizierung, dann Erweiterung des Betriebskonzepts

[2021-07-16 07:43] wulffant commented on #66
next: Anfang August, nach V0.9 Release
vorher -> Absprache mit @biermapa @wulffant

[2021-07-16 07:45] wulffant opened #72 "Vertretungstabelle (Personal)"

[2021-07-16 07:48] wulffant commented on #42
Kurzvideo hochgeladen: https://www.youtube.com/watch?v=-OyovVkhrn4
@sylvializmirandah schickt Antje die Kurzanleitung, dann hochladen in den öffentl. Bereich
Antje und Pascal bekommen Software Test Fragebogen nach dem Review durch Sabine/Martin zur Durchsicht

[2021-07-16 08:19] wulffant commented on #40
Impfstatus wird um Impfstoffe gegen COVID erweitert, Doku folgt

[2021-07-16 08:32] sylvializmirandah commented on #42
Kurzanleitung des Co-Surv-SmICS V. 0.8 wurde an Antje Wulff geschickt

[2021-07-20 16:40] Kuri99 commented on #30
Alle Test im SmICS haben ein Konvertierungsproblem beim Abgleichen der Daten. Wir suchen noch nach einer Lösung.

[2021-07-20 16:43] Kuri99 commented on #50
Impftestdaten sind mit Covid Impfungen erstellt und in der Testdomäne zu finden.

[2021-07-21 13:04] Kuri99 commented on #68
![grafik](https://user-images.githubusercontent.com/80675221/126493082-0c2953c1-2b01-42e8-ab81-df672778a63e.png)

[2021-07-22 21:50] yussefal commented on #33
Es fehlen noch Tests für Symptome und dann kann ein Code Review von @biermapa durchgeführt werden.

[2021-07-22 22:02] yussefal commented on #47
Die Funktion wurde bearbeitet, daher muss ich mit @biermapa über den Testumfang sprechen.

[2021-07-22 22:16] yussefal commented on #50
Die erstellten Testdaten wurden an das Visiualisierungsteam weitergeleitet. Es fehlen nur noch Labordaten mit verschiedene Viruslast Werte. Außerdem ist noch die Frage, ob die Vektorimpfstoffe zusätzlich ein weiters Merkmal haben?

[2021-07-23 06:49] sylvializmirandah commented on #42
Update 23. Juli:

- Kurzanleitung wurde in den öffentlichen ownCloud Ordner in "Dokumente" hochgeladen
- Kurzvideo mit Einführung in das SmICS wurde in den öffentlichen ownCloud Ordner in "Medien" hochgeladen
- Tabelle mit Informationen zur Datenbanknutzung aller B-FAST Projektpartner wird erstellt. Es wurde von einigen Koorperationspartnern der Wunsch nach einer Zeitschiene und einer Einbindung i

[2021-07-23 07:08] wulffant commented on #50
- Informationen über Bereich der Viruslast weiteregegeben (Wertebereich: 0 bis 40)
- Keine Informationen über den Hersteller im Modell (auch nicht in GECCO) vorhanden -> zunächst die Bewertung der vollen Immunität nicht aufnehmen, tbd mit Domänenexperten in nächsten Evaluierungsrunden

[2021-07-23 07:12] wulffant commented on #65
Keine hohe Prio, erst nach Tests und Server

[2021-07-23 07:22] wulffant commented on #36
Fehlermeldung, wenn Daten bei 1-3 Wochen Lookback nicht ausreichen für ein sicheres Ergebnis / es zu einem Fehler bei der Ausführng des Algorithmus kommt

[2021-07-23 07:31] #22 closed, assigned to PaulWaldstein

[2021-07-23 07:32] wulffant commented on #68
@PaulWaldstein Ergebnisse des RKI Algorithmus (basierend auf den eingetellten Regeln) in JSON zwischenspeichern (for faster retrieval of visualisation)
-> dann: @Kuri99 Lösung für DB

[2021-07-23 07:36] wulffant commented on #68
@wulffant Info-Text für Konfig-Seite erstellen (mit Warnhinweis bzgl 1-3 Wocheineinstellung)

[2021-07-23 07:47] wulffant commented on #30
Prototyp
Hinweisfeld personalrechtl/datenschutzrechtl
Namen anpassen

[2021-07-23 07:47] #29 closed, assigned to Kuri99

[2021-07-23 07:47] #3 closed, assigned to biermapa, Kuri99

[2021-07-23 07:50] wulffant commented on #28
3 Queries funktionieren noch nicht
-> Birger reviewed, ggf Fehler bei EHRbase Installation

[2021-07-23 08:00] wulffant opened #73 "Datenflüsse und speicher visualisieren/dokumentieren"

[2021-07-23 08:01] wulffant opened #74 "Ansichten für Klarnamen"

[2021-07-23 10:29] wulffant commented on #68
Überschrift: Konfigurationen zur Erkennung von Erregerhäufungen

Text: Basierend auf den vorliegenden, vergangenen Erregerbefunden im Klinikum ist das SmICS in der Lage, Ihnen einen Hinweis darauf zu geben, ob zu einem bestimmten Zeitpunkt mehr positive Erregerbefunde als üblich vorliegen ("Erregerhäufung"). In diesem Konfigurationsbereich haben Sie die Möglichkeit, verschiedene Regeln zu definier

[2021-07-23 10:43] wulffant commented on #30
Überschrift: Formular zur Erfassung von Kontakten des klinischen Personals (Prototyp)

Text: Das SmICS stellt Formulare bereit, über die die Dokumentation von infektiologisch-relevanten Kontakten des klinischen Personals zu Patient:innen getestet werden kann. Die Eingaben zur Dauer des Kontakts, der getragenen Schutzkleidung und weiteren Felder, werden auf dem angebundenen standardisierten Datenre

[2021-07-23 11:48] Kuri99 commented on #30
Seite angepasst. Merge wird für nächste Woche vorbereitet.

[2021-07-23 12:14] Kuri99 commented on #50
Neue Patienten angelegt mit Labordaten und Viruslast. In der Testdomäne verfügbar.

[2021-07-30 06:59] yussefal commented on #33
Tests für Symptome hinzugefügrt und Code Review mit @biermapa und @Kuri99 durchgeführt. Somit

Die Tests können jetzt in Devlope gemerged werden!

[2021-07-30 07:03] wulffant commented on #25
Weiter in Bearbeitung, gibt noch Probleme bzgl Cookies/Token/Speicherung. Überarbeitung durch SVA bis Ende nächster Woche.

[2021-07-30 07:15] wulffant commented on #50
Testdaten an Felix weitergeleitet, offene Fragen geklärt. Stand der Umsetzung unklar, Termin mit Felix/Tom.

[2021-07-30 07:24] wulffant commented on #36
- Kontakt mit Ann Christin Vietor (RKI) aufgenommen bzgl. Bugs (Mail 29.7.)
- Paul versucht die FEhlbermeldung am 30.07. einzubauen.

[2021-07-30 07:29] wulffant commented on #66
Monatliches Update kommt Anfang August (vor V0.9 Release)

[2021-07-30 07:40] wulffant commented on #74
Pascal schickt kurzes Skirpt/Tool

[2021-07-30 07:41] wulffant commented on #34
- FHIR Bridge Mappings -> Ehrbase NUM issue 128
- Soweit fertiggestellt
- Beachten: Canon. Links

[2021-07-30 07:48] wulffant commented on #40
Info zu Doku des Mappings nächste WOche, wenn MAreike zurück ist

[2021-07-30 18:39] PaulWaldstein commented on #36
Als Fehlermeldung wurde in der Json-Datei mit Ergebnissen für die Datenbank und für die Visualisierung ein zusätzliches Attribut ''Algorithmusergebnis enthaelt keine null-Werte'' hinzugefügt. Wenn der Algorithmus in einer Iteration null-Werte liefert, ist ''Algorithmusergebnis enthaelt keine null-Werte'' gleich false.

[2021-08-03 09:54] Kuri99 opened #75 "EpiCurveTest & ContactNetworkTest expected Results anpassen"

[2021-08-03 16:36] yussefal commented on #33
Die Tests sind in cosurv_develop gemerged worden

[2021-08-03 16:36] #33 closed, assigned to yussefal

[2021-08-03 16:37] yussefal commented on #37
Die Änderungen sind in cosurv_develop gemerged worden

[2021-08-03 16:37] #37 closed, assigned to yussefal

[2021-08-06 06:52] yussefal commented on #50
Termin mit dem Visualisierung-Team fand am 04.08 statt. Es werden weitere Testdaten(Symptome und Impfstatus) benötigt und die InfectionSituation Schnittstelle muss noch bearbeitet werden.

[2021-08-06 06:58] yussefal commented on #65
Das Benutzerhandbuch wurde aktualisiert bzw. um die neuen Informationen ergänzt und dann an @wulffant weitergeleitet.

[2021-08-12 11:57] yussefal commented on #50
Die neuen Testdaten sowie die neue Implementierung der InfectionSituation Schnittstelle wurde dem Visualisierung-Team am 10.08 zur Verfügung gestellt.

[2021-08-12 12:21] yussefal commented on #65
Ich und @sylvializmirandah sind auf die aktualisierten Punkte eingegangen. Termin mit @wulffant ist notwendig!

[2021-08-13 06:54] sylvializmirandah commented on #72
Eine Vertretungstabelle wurde erstellt und im internen Co-Surv-SmICS Ordner abgelegt: Co-Surv-SmICS > Intern > AP3.7 SmICS Entwicklung > Dokumente > Personalmanagement
Bitte tragt eure Urlaube & Absenzen, Aufgaben, notwendige Fachkenntnisse & Zugänge sowie Vertretungspersonen bei Abwesenheit hier ein.

[2021-08-13 07:45] #34 closed, assigned to ZhuYufei990

[2021-08-17 11:08] sylvializmirandah commented on #66
Co-Surv-SmICS Newsletter (August 2021) wurde am 13.08. an alle B-FAST Projektpartner verschickt.

Inhalte:
- Verzögerung der Veröffentlichung von Co-Surv-SmICS V0.9 (ca. 1 Monat nach dem erwarteten Release)
- Aufforderung an die Standorte, uns über Probleme beim Testen zu informieren
- Skizze der zugrundeliegenden Architektur des Co-Surv-SmICS
- Informationen zur Installation je nach Datenformat
-

[2021-08-17 14:31] Kuri99 commented on #68
![grafik](https://user-images.githubusercontent.com/80675221/129745204-a29b6860-c4af-434d-93af-3b7c97944982.png)

[2021-08-17 14:34] Kuri99 commented on #68
- [x] Stationsanzeige bug fixen
- [x] tgl. Ausführungszeit abspeichern
- [x] KeimID über eigene Factory ergänzen

[2021-08-17 14:53] sylvializmirandah commented on #39
Update 17. August:
- Erster Entwurf des SmICS Test Fragebogens für Techniker wurde zur Durchsicht an Pascal und Antje geschickt
- Fragebogen zur Bewertung der Benutzerfreundlichkeit und Gebrauchstauglichkeit des Co-Surv-SmICS für Anwender/Hygieniker. Termin zur Abstimmung der SmICS Usability Fragebögen mit Michael Behnke (Charité Berlin), Michael Storck (Universität Münster) und Sabine Rey am 3. S

[2021-08-18 14:40] Kuri99 commented on #68
Config für das Zusammenführen mit dem Algorithmus fertiggestellt. Bugs und Fehler bitte melden.

- [ ] Tests anfertigen.
- [ ] User Ansichten trennen
- [ ] DB Anbindung

[2021-08-19 13:09] sylvializmirandah commented on #65
@sylvializmirandah hat die Kommentare und die neuen Screenshots eingearbeitet und die überarbeitete Version des Benutzerhandbuchs V0.8 (Test) an Antje und Alan zur Durchsicht geschickt.

[2021-08-20 07:05] wulffant commented on #50
@wulffant  erfragt den aktuellen Stand

[2021-08-20 07:09] wulffant commented on #65
@yussefal bearbeitet Kommentare und schickt an @wulffant zur finalen Durchsicht.

[2021-08-20 07:30] wulffant commented on #25
SVA Meldung vom 17.08. -> fertig
Test durch Pascal, SSO funktioniert, Kommunikation zw. Core und Visualisierung funktioniert nicht.

[2021-08-20 07:32] wulffant commented on #28
1 Query für EpiCurve noch offen

[2021-08-20 08:10] PaulWaldstein commented on #68
- [x] Schleife über eine Prototypeingabedatei mit Sequenz von Parameterdatensätzen mit Speicherung der RKI-Algorithmus-Ergebnisse in die Outputdatei
- [x] Testen mit Beispieldaten aus der RKI_COVID19.csv-Datei
- [x] Einbindung des Algorithmus in den feature/Config-Branch mit der Konfig-Seite

- [x] Berücksichtigung der Sonderfälle von Regiestrierung von Befunden und Bewegungsdaten zur selben Zeit

[2021-08-24 10:12] yussefal commented on #75
EpiCurveTest und ContactNetworkTest expected Results wurden angepasst und stehen unter dem Brnach feature/Statistikmodul zur Verfügung.

[2021-08-27 06:49] yussefal commented on #64
Es wurde alle Tests angepasst. Der aktuelle Stand steht unter dem Branch cosurv_develop zur Verfügung.

[2021-08-27 07:11] wulffant commented on #50
Felix hat sich zurückgemeldet, dass sie mit den Testdaten arbeiten können.
Alan erfragt nochmal, ob er bei der Visualisierung unterstützen kann und wie es lokal aufgesetzt werden kann.

[2021-09-03 06:30] wulffant opened #76 "Vereinheitlichung der Log-Texte / Strategie"

[2021-09-03 06:48] wulffant opened #77 "Patientenummern/I-Zahlen Integration"
subject_ids integrieren, in neuem Branch testen

[2021-09-03 07:04] wulffant opened #78 "NoSQL Datenbankintegration"

[2021-09-03 07:33] wulffant commented on #25
- SVA Implementierung fertiggestellt
- Anpassungen in Umgebungsvariablen in SmICSVisualisierung (Tom) und SmICSCore notwendig
- Test Integration mit Better/Ehrbase + OAUTH laufen

[2021-09-03 07:41] wulffant commented on #14
Alan testet nochmal und meldet es an Pascal zurück

[2021-09-03 14:39] yussefal commented on #77
Die Anpassungen im AQLCatalog + das Testen lokal ist abgeschlossen. Die Änderungen stehen unter dem Branch feature/Change_EHRIDs zur Verfügung.

[2021-09-03 14:49] yussefal commented on #31
Es wurden Logs in der Statistik Komponente hinzugefügt. Der Text muss später angepasst werden, wenn eine einheitliche Struktur festgelegt wird.

[2021-09-08 09:27] Kuri99 commented on #60
CSS files aufgeräumt.

To-Do:

- [x] Branch zum mergen erstellen
- [ ] Zustimmung von Pascal einholen

[2021-09-10 06:26] yussefal commented on #14
Lokal hat funktioniert, aber auf dem Server nicht, deshalb muss ich es nochmal testen und das Ergebnis mit @biermapa  besprechen

[2021-09-10 07:22] wulffant opened #79 "Tests für RKI Algorithmus"

[2021-09-10 07:22] wulffant opened #80 "Schnittstelle RKI-Algorithmus zu Visualisierung"
- [x] Entwurf Methode für den Abruf der RKI-Algorithmusergebnisse aus den hinterlegten Dateien
- [ ] Code-Review mit Pascal
- [ ] Absprache mit Tom

[2021-09-10 07:42] wulffant commented on #14
In Hannover mit Ubunutu 20.04 -> keine Probleme

[2021-09-15 20:30] sylvializmirandah commented on #39
Meeting mit dem Universitätsklinikum Augsburg (UKA) am 17.09. und der Universitätsmedizin Greifswald (UMGW) am 28.09., um das Co-Surv-SmICS vorzustellen und Möglichkeiten der Zusammenarbeit bzgl. FHIR Strecke zu eruieren. Diese beiden FHIR-Standorte haben nach der Antragsstellung für B-FAST keine weitergehenden Informationen erhalten und haben um einen Überblick über die Projektinhalte, Infos zum

[2021-09-16 09:38] #14 closed, assigned to biermapa, yussefal

[2021-09-16 11:54] Kuri99 commented on #68
- [x] Erregerstatus: mikrobiologisch/virologisch in ConfigFile und Model
- [x] Warnhinweis bei Look Back unter 4 Wochen
- [x] Zeitpunkt integrieren
- [x] Mikrobilogische Erreger disablen

[2021-09-17 07:02] wulffant commented on #78
- MongoDB und Cassandra getestet
- Cassandra  ist komplexer, aber MongoDB kann aufgrund Lizenzrechte nicht genutzt werden.
- Entscheidung für Cassandra

[2021-09-17 07:04] wulffant commented on #78
- Es wird eine Einführung für die Entwickler:innen geben, wenn sie aufgesetzt ist.
- Nutzung über REST API geplant.

[2021-09-21 13:32] ZhuYufei990 opened #81 "The software should be able to handle >= 10K records returned by REST API in Core project"
Test Version 0.9.0
installed in Linux Ubuntu 20.04
Backend: Better

Updated on 28.09.2021 :
Based on the test with our patients data in one month, the amount of returned rows of API
​/api​/StoredProcedures​/Contact_NthDegree_TTKP_Degree can be more than 10k, the software should be able to handle that. So the web page will not hang up.

######################## before 22.09.2021 ###################

[2021-09-24 06:44] yussefal commented on #78
- Die erste Implementierung der Datenbank Schnittstelle ist unter dem Branch feature/Database zu finden.
- Die Abbildung der vorhanden Strukturen ist unter dem Branch feature/Testen zu finden.

- [x] Als Nächstes müssen die beiden Branches zusammengermed und getestet werden.

[2021-09-24 07:07] wulffant commented on #76
Strategie von Kristina und Alan vorgestellt, Feedback von Pascal bekommen.

[2021-09-24 07:07] #65 closed, assigned to wulffant, yussefal, sylvializmirandah

[2021-09-24 07:11] wulffant commented on #31
- [ ] Vereinheitlichung der Log-Texte / Strategie:

Strategie von Kristina und Alan vorgestellt, Feedback von Pascal bekommen.

[2021-09-24 07:23] wulffant commented on #79
Compositions identifizieren und analysieren
Kristina um Unterstützung bitten (da viele Testdaten erforderlich)

[2021-09-24 07:24] wulffant commented on #25
SmICSCore funktioniert mit Zertifikat
SmICSVisualisierung ggf. später, nach V1.0

- [ ] Anleitung in progress

[2021-09-24 07:32] #38 closed, assigned to biermapa

[2021-09-30 16:28] Kuri99 commented on #78
Abspeicherung und Selektierung der Daten ist erfolgreich. Neue Struktur der Tabellen wurde festgelegt.

Next:

- [x] DBService generisch nutzbar machen
- [x] Delete & Update Methoden testen
- [x] Datenbank Container bauen/ Datenbank im SmICSCore Container integrieren
- [x] User & Passwort erstellen

[2021-10-07 11:52] yussefal commented on #50
Meeting mit Tom und Felix fand am 05.10. statt. Tom und Felix setzen sich erstmal zusammen und werden dann alles umsetzen. Tom gibt uns spätestens Ende nächste Woche eine Rückmeldung.

[2021-10-07 14:48] ZhuYufei990 opened #82 "SmICS Core: Patients missed for Contact network"
Version: v0.9.0
Test Data: the test data in project
Test API : /api/StoredProcedures/Contact_NthDegree_TTKP_Degree
with ID from Patient21
{
  "starttime": "2021-01-01T01:57:34.449Z",
  "endtime": "2021-01-10T23:57:34.449Z",
  "patientID": "98342e8c-11f2-4026-baae-e8b39d351551",
  "degree": 1
}

Response:
[response_1633615090270.txt](https://github.com/highmed/SmICSCore/files/7304626/response_16336

[2021-10-13 13:10] Kuri99 commented on #68
Config wurde an den Algorhythmus angebunden.
DB Anbindung ersteinmal zurückgestellt.
Auth für Useransichten integrieren steht noch aus.

[2021-10-14 10:45] sylvializmirandah opened #83 "SmICS V0.8 Test Cologne with Better: ThinkEHR expects CTX/ tags while processing compositions"
Abdul Mateen from the University of Cologne tested the Co-Surv-SmICS Software V0.8 about 2-3 months ago. His findings were that the SmICS configuration seems more focused on EHRbase.

Issue encountered with the Better platform: Abdul Mateen was not able to upload the data set (zip file) provided in GitHub to Cologne's own repository with Better. To resolve the issue he generated their own syntheti

[2021-10-14 12:42] sylvializmirandah commented on #83
The following reponse from head developer Pascal Biermann was submitted to openEHR technicians in Cologne:

Better offers two REST APIs: the Better REST API, known as REST API, and a more standardized REST API called openEHR REST API. Whether this solves the ctx/language problem outlined above, remains to be seen. Feedback from Cologne will be requested.

[2021-10-15 06:17] yussefal commented on #50
Tom hat mehrere branches zusammen gemerged unter anderem das Patientenansicht Modul. Er ist dabei das Modul ordentlich zu machen, es wird ähnlich dem Linelist sein.

[2021-10-15 06:31] yussefal commented on #78
Die Datenbank Schnittstelle ist fertig. Wir können jetzt sowohl Daten in der Datenbank speichern als auch Daten aus der Datenbank lesen.

Next:

- [x] Services umschreiben, um die Daten bereitstellen, die in der Datenbank gespeichert werden soll
- [ ] Docker Compose bearbeiten und Tesen
- [ ] Unit Test für die Datenbank Schnittstelle erstellen

[2021-10-15 07:16] wulffant commented on #50
Übergabe an Kristina (Urlaub)

[2021-10-20 11:52] Kuri99 commented on #31
Usernamen sind im AuditLog integriert.

[2021-10-20 13:52] Kuri99 commented on #83
Issue fixed. New file will be send.

[2021-10-20 14:26] Kuri99 commented on #79
Testdaten sind angelegt. 21 neue Patienten mit Versorgungsfall, Aufenthalt und Viro. Befund.

[2021-10-21 08:35] sylvializmirandah opened #84 "SmICS V0.9.1 Test Cologne with Better: Unavailability of Certain Terms"
Cologne did further software testing using the template and data available in the latest Co-Surv-SmICS version 0.9.1 with the OpenEHR rest API (instead of Better REST API previously used). The Postman collection seems to work. However, they encountered some issues relating to unavailability of certain terms, notably "Impfstoff". Please see the following screenshots:

![Smics_Error_Pt4](https://use

[2021-10-21 08:48] sylvializmirandah opened #85 "SmICS V0.9.1 Test Cologne with Better: Failure to Retrieve Data using AQL Queries in Better Studio"
The team in Cologne tried to use the AQL queries (available in Postman collection) in Better Studio but were not able to retrieve any data. The reason for this may be that their Better is configured to Better REST API and not OpenEHR REST API thus no data is retrieved. They will look into this further and send feedback.

![AQL_PatientWards_Ouput_Studio](https://user-images.githubusercontent.com/82

[2021-10-21 09:19] Kuri99 commented on #85
'ehrID' should be filled with an actual ID, 'endtime' and 'starttime' should be filled with a date to get results.
Example:
SELECT....and e/ehr_id/value ='519dea3894..' and m/data[at0001]/items[at0004]/value/value <= '2021-02-02' and .... >='2021-02-01'....

[2021-10-21 09:43] Kuri99 commented on #84
already fixed for new version 1.0 and a file has been send to martin.

[2021-10-21 14:04] sylvializmirandah commented on #84
To access the revised Postman collection prior to the release of V1.0 please contact: medinf.bfast@med.uni-goettingen.de

[2021-10-22 07:11] Martin-Wiesenfeldt commented on #42
Paul ergänzt eine Beschreibung des "Bene"-Algorithmus für das Handbuch

[2021-10-29 07:10] #40 closed, assigned to wulffant

[2021-10-29 07:10] #72 closed, assigned to wulffant, Martin-Wiesenfeldt

[2021-10-29 07:18] #83 closed, assigned to biermapa, ZhuYufei990, sylvializmirandah

[2021-10-29 07:20] wulffant commented on #78
Statistik integriert, Config integriert.

[2021-10-29 07:21] #66 closed, assigned to Martin-Wiesenfeldt

[2021-10-29 07:24] wulffant commented on #18
@wulffant

[2021-10-29 07:26] wulffant commented on #39
- [x] Link einfügen zur Checkliste, dann schließen @sylvializmirandah

[2021-10-29 07:27] wulffant commented on #31
Zusammenspiel mit Docker noch fehlerhaft

[2021-10-29 07:32] wulffant commented on #74
Termin mit Tatiana im November
Termin mit Köln im November

[2021-10-29 07:33] #32 closed, assigned to wulffant, biermapa

[2021-10-29 07:34] wulffant commented on #54
HiGHmed SmICS

[2021-10-29 07:37] wulffant commented on #82
Test with V1.0

[2021-10-29 07:47] wulffant commented on #81
Zhu liefert Zahlen aus Göttingen

[2021-10-29 07:58] wulffant commented on #15
@ZhuYufei990 checkt ob es erledigt ist und closed dann. Ansonsten geben wir es an Tom weiter.

[2021-10-29 08:15] ZhuYufei990 commented on #15
"git clone git@gitlab.gcc.informatik.tu-darmstadt.de:highmed/infectioncontrolsystem2.git" still in ReadME of Visuralisierung  project.

[2021-11-02 11:56] #52 closed

[2021-11-02 11:56] #55 closed, assigned to nobody

[2021-11-02 11:56] #19 closed, assigned to PaulWaldstein

[2021-11-02 11:56] #50 closed, assigned to yussefal

[2021-11-02 11:57] #36 closed, assigned to PaulWaldstein

[2021-11-02 11:57] #68 closed, assigned to wulffant, Kuri99

[2021-11-02 11:57] #79 closed, assigned to PaulWaldstein

[2021-11-02 11:57] #80 closed, assigned to PaulWaldstein

[2021-11-03 12:23] #18 closed, assigned to wulffant

[2021-11-04 09:22] wulffant commented on #13
- Ansicht wurde aktualisiert
- Nennung des Monats ist so zur Orientierung vorgesehen

[2021-11-04 09:22] #13 closed

[2021-11-04 09:33] wulffant commented on #9
Requirements are documented in Benutzerhandbuch, warnings may be part of any future versions.

[2021-11-04 09:33] #9 closed, assigned to Martin-Wiesenfeldt

[2021-11-04 09:38] #20 closed, assigned to biermapa

[2021-11-04 09:39] #45 closed, assigned to yussefal

[2021-11-04 09:39] #26 closed, assigned to yussefal

[2021-11-04 09:40] #43 closed, assigned to yussefal

[2021-11-04 09:40] #23 closed, assigned to yussefal

[2021-11-04 09:41] #47 closed, assigned to yussefal

[2021-11-04 09:41] #75 closed, assigned to biermapa, yussefal

[2021-11-04 09:41] #64 closed, assigned to biermapa, yussefal

[2021-11-04 09:41] #28 closed, assigned to biermapa

[2021-11-04 09:41] #49 closed, assigned to biermapa

[2021-11-04 09:41] #21 closed, assigned to biermapa

[2021-11-04 09:41] #25 closed, assigned to biermapa

[2021-11-04 09:41] #77 closed, assigned to yussefal

[2021-11-04 09:42] #51 closed, assigned to nobody

[2021-11-04 09:42] #53 closed

[2021-11-04 09:43] #67 closed, assigned to ZhuYufei990, Kuri99

[2021-11-04 09:43] #30 closed, assigned to Kuri99

[2021-11-04 12:37] wulffant commented on #15
geändert

[2021-11-04 12:37] #15 closed

[2021-11-04 12:42] #84 closed, assigned to biermapa, ZhuYufei990, Kuri99, sylvializmirandah

[2021-11-04 12:42] #85 closed, assigned to biermapa, ZhuYufei990, Kuri99, sylvializmirandah

[2021-11-04 12:44] wulffant commented on #57
Ist das noch aktuell?
Hier scheint der Code falsch zu sein: 100 statt 0100 (führende Null)

[2021-11-04 12:44] #44 closed, assigned to nobody

[2021-11-04 12:45] #41 closed, assigned to wulffant, Martin-Wiesenfeldt

[2021-11-04 12:45] #24 closed, assigned to wulffant

[2021-11-04 12:46] wulffant commented on #73
Architektur-Bild aus den bekannten Präsentationen

[2021-11-04 12:46] #73 closed, assigned to wulffant, biermapa, Martin-Wiesenfeldt

[2021-11-04 12:46] wulffant commented on #69
Übergangslösung Patienten-IDs über subject_id Pfad, ansonsten issue #74

[2021-11-04 12:46] #69 closed, assigned to biermapa

[2021-11-04 12:47] wulffant commented on #76
Wird unter issue #31 bearbeitet

[2021-11-04 12:47] #76 closed, assigned to biermapa, Kuri99, yussefal

[2021-11-05 07:38] #57 closed, assigned to nobody

[2021-11-05 07:44] wulffant commented on #61
- FHIR Profile wurden geändert
- Meeting zur Absprache mit Eugenia Rinaldi und FHIR Modelling Group stattgefunden -> Rückmeldung zur finalen Entscheidung über Struktur des virologischen Befundes steht aus
- Danach: Neuformulierung der Abschnitte im Betriebskonzept durch @NormanWeinert
- @Martin-Wiesenfeldt Bitte den aktuellen Stand in den CODEX-Meetings kommunizieren.

[2021-11-05 10:09] wulffant commented on #42
Neues Benutzerhandbuch für V1.0 bereitgestellt.

[2021-11-05 10:09] #42 closed, assigned to wulffant, sylvializmirandah, Martin-Wiesenfeldt

[2021-11-18 10:22] jpwiedekopf opened #88 "Change in R signing"
The signing method on the R APT repository has changed.

This is addressed by #98 und #99 (auth version)

[2021-11-18 17:14] JenHoos commented on #88
Darüber bin ich auch grad gestolpert:
"Since 16th of November 2021, the bullseye-cran40, buster-cran40, and since 17th of November also the buster-cran35 and stretch-cran35 repositories are signed with a new key with key ID 0xB8F25A8A73EACF41, key fingerprint 95C0FAF38DB3CCAD0C080A7BDC78B2DDEABC47B7 and user ID Johannes Ranke <johannes.ranke@jrwb.de>."
(https://cloud.r-project.org/bin/linux/debian

[2021-11-22 15:14] wulffant opened #89 "Feedback Simone als Tabelle"
- [x] Zusammenfassung und Kategorisierung (Sarah)
- [x] Diskussion zur Umsetzung
- [x] Feedback Listen verschicken (@wulffant)

[2021-11-24 10:53] wulffant opened #90 "MHH Co-Surv-SmICS V1.0 Installation"
- [x] Roll Out in MHH (Pascal)
- [x] Bewegungsdaten laden (Antje)
- [x] Check aktueller Stand Templates (Stefan, Antje)
- [ ] Neue SARS-CoV-2 Diagnostik Check ETL (Stefan, Antje)
- [x] Einarbeitung Sarah in Ensemble (mit Paul K)
- [x] Check "Empfängerstandort" (Pascal, Claas)
- [ ] Später: Terminologieserver-Anbindung relevant für ETL Strecken für IC -> ETL u Terminologie-URLs in Templates checken

[2021-11-24 10:59] wulffant opened #91 "RKI-Algorithmus für Mibi einbauen"
- [x] Termin vereinbaren (Antje)
- [ ] Einbinden
- [ ] Time Lag Entnahme <-> Befundzeit (ist der Algorithmus dagegen robust?) -> Idee: Maximalverzug einrichten und jeweils neu zurückberechnen
- [ ] Datenschutz-Absprache: Anonyme Daten bereitstellen für Evaluation des Algorithmus (-> Anfang Feb?)

[2021-11-24 11:01] wulffant opened #92 "Neue Mibi-SmICS-Core Ansichten"
Backend (Pascal)
Frontend (Kristina)
Funktionalitäten prüfen (Kristina)

pro Ansicht

[2021-11-24 11:03] wulffant opened #93 "AQLs: Anpassung der SmICSCore Schnittstellen auf Mibi"

[2021-11-24 11:05] wulffant opened #94 "Echtdaten-Test"
Sarah in enger Abstimmung mit Claas

- [ ] Echtdaten-Tests (Viro + Mibi)
- [ ] Fälle dokumentieren
- [ ] Testfälle konzipieren (insb. Mibi)
- [ ] Testdaten erstellen (insb. Mibi)

[2021-11-24 11:06] wulffant opened #95 "MHH KPI Umsetzung"
Sarah

[2021-11-24 11:07] wulffant opened #96 "Funktion Audit Log hinter Docker"

[2021-11-24 13:37] wulffant commented on #78
Tests ausstehend

[2021-11-26 10:48] jpwiedekopf commented on #88
Bitte die PRs #98 und #99 bei Gelegenheit mergen, damit die aktuellen Zertifikate verwendet werden können, danke!

[2021-11-30 14:01] wulffant opened #97 "Erreger/Antibiogrammzeit: Template checken"
OpenMibi zeigt eine Zeit aus dem Feeder Audit (Antibiogrammzeit) -> die ist nicht im Template modelliert und daher nicht standortübergreifend verfügbar.

[2021-11-30 14:04] wulffant commented on #91
Termin erst ab KW 49 möglich, Bene meldet sich Ende KW48

[2021-12-01 13:33] wulffant commented on #90
Empfängerstandort mit Claas vorbesprochen -> ggf. zukünftig nochmal prüfen
Aktuell funktionieren die Ansichten an der MHH nicht aufgrund des Visualisierungsfehlers.

[2021-12-01 13:37] wulffant commented on #92
- Absprache zu Gemeinsamkeiten/Unterschiede zu openMibi erfolgt

Weitere Dokumentation in folgenden issues:
Patientenansicht -> Backend fertig, Kristina hat ersten Draft erstellt, neue Factories werden aktuell angebunden
Kontaktnetzwerkansicht -> Backend in Arbeit
Stationsübersicht -> Backend muss überarbeitet werden, Anmerkungen von Claas einarbeiten

[2021-12-01 13:44] wulffant commented on #78
- Nicht alle Reports f. Statistik werden gebraucht -> daher: Reduktion der zu speichernden Elemente? Mit GÖ absprechen.
- Report vom Vortag automatisch mit laden und in DB speichern. (Alan)
- Ggf. NoSQL DB auch für NEC nutzen?

[2021-12-03 08:17] biermapa opened #100 "Mibi SmiCS Core: Patentenansicht"
- [x] Backend
- [x] Frontend
- [ ] Testdaten
- [ ] UnitTests for Backend
- [x] Abnahme Claas

- Stationärer Versorgungsfall / Station davorschalten (n/a)
- [x] Farbsättigung der einzelnen Ebenen
- Zeitstempel Antibiogrammzeit entfernen (n/a)
- [x] Testdaten: Häufigkeit und Erregerzeit hinzufügen
- [x] Anpassungen Suchen-Bug
- [ ] Probe auf Befundübersicht-Ebene? Anforderung pro Probe / Zuordnung (

[2021-12-03 08:21] biermapa opened #101 "Mibi SmICS Core: Kontakttabelle"
- [x]  Backend
- [x]  Frontend
- [ ]  Testdaten
- [ ]  UnitTests for Backend
- [x]  Abnahme Claas

- [x] Info MRE-Klasse in den Header einpflegen
- [x] Zeitpunkt der nosokomialen Bestimmung (=Statusdatum)
- [x] Noskomial/mitgebracht Wechsel - zweimal dargestellt? Testdaten erstellen
- [x] Anpassen -> nächster Krankenhausfall anzeigen ("vorheriger Fall", "nächster Fall") -> Berechnung finalisieren

[2021-12-03 08:22] biermapa opened #102 "Mibi SmiCS Core: Stationsübersicht"
- [x]  Backend
- [x]  Frontend
- [ ]  Testdaten
- [ ]  UnitTests for Backend
- [x]  Abnahme Claas

**UPDATE**
Nach erster Vorstellung bei Claas:

- [x] Frontend: Nur 2 Farben in der EpiKurve,
- [ ] restliche Infos eher als MouseOver
- [x] Frontend: Hinzufügen der Informationen "Erster positiver Test", "letzter Nachweis auf Station", "Stationsaufnahme"
- [x] Frontend: Tabelle Sortier- & Filterbar m

[2021-12-03 08:33] biermapa commented on #102
Nach erster Vorstellung bei Claas:

- [ ] Frontend: Nur 2 Farben in der EpiKurve, restliche Infos eher als MouseOver
- [ ] Frontend: Hinzufügen der Informationen "Erster positiver Test", "letzter Nachweis auf Station", "Stationsaufnahme"
- [ ] Frontend: Tabelle Sortier- & Filterbar machen
- [ ] Frontend: Anzeige "Anzahl Patienten auf Station", "Anzahl infizierter auf Station" (mit Unterschrift Err

[2021-12-08 13:09] wulffant commented on #89
@biermapa und @wulffant schauen sich das Dokument an
Gemeinsamer Termin im Januar @SarBall

[2021-12-08 13:10] wulffant commented on #94
Warte auf Kontaktierung durch Claas

[2021-12-08 13:19] wulffant commented on #90
Neue SARS-CoV-2 Diagnostik Check ETL und Template:
- Kodierung für das neue Testverfahren in Template hinterlegen (auch in Kontakt mit Cora Drenkhahn), ggf.
- Datentyp des quant. Ergebnisses in Viro-Befund anpassen (ggf. auf DV_Duration)

MHH ETL Mibi:
- Neues mlab kommt, Termin mit SZ vereinbaren (@wulffant),
- Sarah arbeitet sich ein

[2021-12-08 13:20] wulffant commented on #100
Erste Ansicht von Kristina erstellt, Tests fehlen

[2021-12-08 13:40] wulffant commented on #56
- Anbindung "on hold", da die Domänenexpert:innen die predictions so aktuell nicht für nutzbar halten. Stationen, Größe der Stationen, Bewegungsmuster ("goodie") sollen zukünftig möglich gemacht werden.
- Möglichkeiten: 1) alles einbinden 2) nichts einbinden 3) einfacher Weg nur den zweiten Teil anzubinden (unwahrscheinlich)
- Absprache im ersten Monthly mit Visu, Aufwand<>Nutzen

[2021-12-10 10:38] jpwiedekopf commented on #82
The duplicate entries in the AQL result were causing problems for me as well. My PR #104/#105 address this as well, since the GUI didn't appreciate the duplicate items: https://github.com/highmed/SmICSCore/pull/104/commits/21613b3502bc441dc2e0ba5b18f262d853376224

[2021-12-30 10:33] JenHoos opened #108 "Erstimpfung in % inkorrekt"
Die Erstimpfung im Statistik Modul wird falsch angezeigt (>100 %)

[2022-01-06 09:59] sylvializmirandah commented on #39
https://owncloud.gwdg.de/index.php/apps/files/?dir=/B-FAST/60_Work_Packages/03_WP_3/Co-Surv-SmICS/Intern/AP3.9%20SmICS%20Rollout/Dokumente/Co-Surv-SmICS%20Spezifikationen%20Rollout&fileid=1454705764

[2022-01-06 10:00] #39 closed, assigned to sylvializmirandah, Martin-Wiesenfeldt

[2022-01-06 12:07] wulffant commented on #90
Bewegungsdaten:
- Sarah fragt bei Paul nach
-
Neue SARS-CoV-2 Diagnostik Check ETL:
- Gespräch mit Stefan bzgl. SARS-CoV-2 TMA ETL Strecke -> TTP als DV_QUANTITY unit
- Pascal: Neuen Namen für Virusnachweistest (TMA) berücksichtigen in MHH-Co-Surv-SmICS AQLs, wenn Version an MHH lauffähig.
- Sarah: LOINC-Anfrage, LOINC-Code einbinden sobald Rückmeldung

[2022-01-06 12:27] wulffant commented on #56
**-- Keine Einbindung des NEC Algorithmus --**

[2022-01-06 12:28] #56 closed, assigned to biermapa

[2022-01-06 12:30] wulffant commented on #91
Termin hat am 05.01. stattgefunden, EInarbeitung in den Algorithmus abgeschlossen, jetzt Einbindung

[2022-01-12 09:55] #63 closed

[2022-01-12 09:56] wulffant commented on #11
There are tooltips available via mouse over

[2022-01-12 09:56] #11 closed

[2022-01-12 16:45] wulffant opened #109 "Handbuch aktualisieren"
Aktuelles Handbuch muss auf die neuen Ansichten bzw das neue Layout von Tom angepasst werden.
[Handbuch](https://github.com/highmed/SmICSCore/blob/develop/2021-11-05%20Benutzerhandbuch_CoSurvSmICS_V1_0.pdf)

@wulffant Word Version anhängen

[2022-01-12 16:45] wulffant opened #110 "Testumgebung für Visualisierung in Köln"

[2022-01-12 16:46] wulffant commented on #110
in Arbeit, Unterstützung durch Pascal auf Anfrage

[2022-01-12 16:48] wulffant opened #111 "Offene Fragen Visualisierung"
Icons mit oder ohne Langname
Workflow Kontaktnetzwerk <-> Patient History
Moving avg in epi curve?

[2022-01-13 09:19] wulffant commented on #102
-> Termin mit Claas am 14.01.

MRSA, MSSA -> kein "I" für Resistenz, aber bei anderer Erregern unterschiedlich. Was passiert, wenn untersch. Resistenzen für ein Erreger zum gleichen Zeitpunkt?

Logik für Infektionsstatus muss überarbeitet werden, ggf regelbasiertes System/(Microsoft Rule Engine) einbinden.

[2022-01-13 09:31] wulffant commented on #90
Bewegungsdaten:
- Sonst VF erfolgreich getestet
- Stat VF aktuell noch Probleme wg Umlaute -> Termin Paul/Stefan KW2

Neue SARS-CoV-2 Diagnostik Check ETL:
- Stefan mappt auf den internen Code -> Sarah fragt bei Stefan bzgl ETL
- LOINC: noch in Diskussion

MHH ETL Mibi:
- Termin mit SZ am 24.01.
- Sarah arbeitet sich weiter ein

Aktueller Stand SmICS/Visualisierung MHH:
- Co-Surv-SmICS 1.0 auf Ech

[2022-01-13 09:31] wulffant commented on #92
Statistikmodul für Mibi muss zunächst ausgeblendet werden

[2022-01-13 09:44] wulffant opened #112 "Später: Antibiogramm-Vergleich"

[2022-01-13 09:48] wulffant opened #113 "MHH: RKI Algorithmus Evaluation: Datenschutz-Dokumente"
Projekt/Hintergrund: HiGhmed IC kurz beschreiben
Daten und Rechtsgrundlage: beschreiben, kannst du aus den Datenzugriffsvereinbarungen rauskopieren
Partner RKI/Algorithmus: Kurz beshcreiben was das RKI macht, bzw was der Algorithmus macht und warum der evaluiert werden soll (keine details)
Unser Anliegen: Wir möchten MHH Daten an das RKI herausgeben, und zwar die folgenden Daten: ... (aus der Mail

[2022-01-21 07:34] wulffant commented on #110
Kontakt zwischen Köln, Visu und Pascal besteht; Anfrage durch Pascal bearbeitet.

[2022-01-21 07:43] wulffant commented on #102
24.01 Termin mit Claas

[2022-01-21 07:49] wulffant commented on #100
erster Entwurf verfügbar

[2022-01-21 07:53] wulffant commented on #101
erster Entwurf steht

[2022-01-28 11:10] wulffant commented on #113
in progress, @wulffant schickt DZV

[2022-01-28 11:20] wulffant commented on #102
Termin mit Claas verschoben auf 01.02.22

[2022-01-28 11:40] wulffant commented on #90
Bewegungsdaten:

-     Sonst VF erfolgreich getestet
-     Stat VF im Test
- Kleinere Anpassungen, ca 2 Wochen

Neue SARS-CoV-2 Diagnostik Check ETL:

-     Stefan mappt auf den internen Code -> die Strecken laufen
-     LOINC: noch in Diskussion

MHH ETL Mibi:

-     Termin mit SZ am 24.01. - ausgefallen - @wulffant neuer Termin?
-     Sarah arbeitet sich weiter ein

Aktueller Stand SmICS/Visuali

[2022-01-28 11:41] wulffant commented on #93
AQL Anpassung in progress

[2022-01-28 11:46] wulffant commented on #97
international community angefragt

[2022-01-28 11:47] wulffant commented on #89
Termin hat stattgefunden, Listen werden an die Verantwortlichen geschickt.

[2022-01-28 11:47] #60 closed, assigned to biermapa, Kuri99

[2022-01-28 11:48] wulffant commented on #111
Klärt Sarah im nöchsten Termin mit Claas

[2022-02-03 12:52] wulffant commented on #110
Einführung in openEHR + Better (Eric) durch Pascal
Anfrage durch Eric an Köln geschickt, was gebraucht wird.

[2022-02-03 12:58] SarBall commented on #111
Antworten zu den Fragen aus Hannover:

•	Icon mit oder ohne Langname (Bild kommt)
        **-> Icons hier bitte mit Langnamen**
•	Workflow: Erst Kontaktnetzwerk und dann Patientenhistorie oder schaut man sich
        erst die Historie an und möchte dann zu einem spezifischen Patienten das
        Kontaktnetzwerk betrachten?
       **-> Zuerst kommt die Patientenhistorie und das Kontaktnetzwerk (wi

[2022-02-03 12:58] #111 closed, assigned to wulffant, SarBall

[2022-02-03 13:07] wulffant opened #114 "Mibi SmICS Core: Patientenvergleich"
- Visualisierung der Tabellen schwierig

[2022-02-03 13:17] wulffant commented on #90
Bewegungsdaten:

-     Sonst VF erfolgreich getestet
-     Stat VF im Test
- Kleinere Anpassungen, ca 2 Wochen

Neue SARS-CoV-2 Diagnostik Check ETL:

-     Stefan mappt auf den internen Code -> die Strecken laufen
-     LOINC: noch in Diskussion

MHH ETL Mibi:

-     Termin mit SZ am 24.01. - ausgefallen - **CB macht neuen Termin**
-     Sarah arbeitet sich weiter ein

Aktueller Stand SmICS/Visua

[2022-02-03 13:19] wulffant commented on #97
Silje ist dran

[2022-02-03 13:20] #89 closed, assigned to SarBall

[2022-02-03 13:20] wulffant commented on #89
Dokument ist intern (PLRI) abgelegt und alle Feedback-Listen an die Veranwortlichen verschickt.

[2022-02-03 13:21] #92 closed, assigned to biermapa, Kuri99

[2022-02-03 13:28] wulffant commented on #109
[2021-11-05 Benutzerhandbuch_CoSurvSmICS_V1_0.docx](https://github.com/highmed/SmICSCore/files/7994894/2021-11-05.Benutzerhandbuch_CoSurvSmICS_V1_0.docx)

[2022-02-08 10:21] SarBall opened #115 "Fallzahlen im Krankenhaus"
Bei Experten für die Umbenennung nochmal kontaktieren

[2022-02-08 10:26] SarBall opened #116 "Visualisierungsreiter"
Beim Wechseln des Visualisierungsreiters, verfällt die aktuelle Visualisierung
- [ ]	Hier nochmal einen zwischen Speicher einfügen
- [ ] Handhabung nochmal in das Handbuch mit aufnehmen, um hier die Sicht des Informatikers für die Benutzung zu erklären

[2022-02-08 10:27] SarBall opened #117 "Diagnose Angabe"
Diagnose Angabe zB: Fall SARS-CoV-2 oder COVID oder
o	die Fälle, die als infektiöse SARS-CoV Fälle geführt sind-> Hier nochmal differenzieren (Absprache mit Tom und Antje/ Pascal)
o	Die Ansicht bezieht sich auf die Laborbefunde

[2022-02-08 10:30] SarBall opened #118 "Allgemein"
- Genaue Lokalisation des Patienten-> Liegt dieser auf ein Bereich der Infektionsstation? Hier wird nochmal Unterschieden:
o	Anzahl der Intensivbetten:  Covidpatienten der als infektiöse Covidpatienten versorgt wird; liegt hier in der Infektionsstation
o	Oder ein Patient der auf der Intensivstation invasiv beatmet wird der für einen langen Zeitraum Genesene sind aber nicht mehr infektiös geführt w

[2022-02-08 10:30] SarBall opened #119 "Einheitliche Sprache"
- [x]	Sprache überprüfen Englische Begriffe zu Deutsch
- [ ] Funktion: Sprachenmenü

[2022-02-08 10:31] SarBall opened #120 "Patienten-Historie"
Patienten-Historie:
- [ ] MRE Klasse im Tool Tip entfernen
- [ ] ID und Klarnamen werden beide schon mitgesendet, Tom müsste das einmal wechseln.

[2022-02-08 10:31] SarBall opened #121 "Kontaktnetzwerk"
- [x]	Bewegungsart_l aus Daten entfernen: Diagnose, Therapie nicht genau nachvollziehbar. Hier nochmal überprüfen, was die Bewegungsart ist.
- [x] Bewegungsart_l als Tooltip entfernen

[2022-02-11 11:26] biermapa commented on #120
Nochmal genauer beschreiben und dann als Assignee -> Tom

[2022-02-11 11:27] biermapa commented on #117
Fehlende Daten zur Diagnose, daher aktuell nicht umsetzbar

[2022-02-11 11:27] #117 closed, assigned to nobody

[2022-02-11 11:34] biermapa opened #122 "Quantitatives Ergebnis CT Wert"
- [x] Modell mit Befundtext befüllen, nach Nachweis
- [ ] Tooltipanpassung des CT Wert mit dem Befundtext

[2022-02-11 11:35] biermapa commented on #118
Daten nicht vorhanden. Eventuell Codex+ oder späteres Projekt.

[2022-02-11 11:35] #118 closed, assigned to nobody

[2022-02-18 08:16] wulffant commented on #95
in progress,
Tabelle erstellen, dann Review durch Team

[2022-02-18 08:17] wulffant commented on #94
Mail an Claas, mit Pascal+Antje in cc

[2022-02-18 08:18] wulffant commented on #110
Eric steht in Kontakt zum Medic-Leiter in UKK - Zugang zu Forschungs/Entwicklungsinstanz für Eric in Arbeit

[2022-02-18 08:35] wulffant commented on #90
Bewegungsdaten:

- Sonst VF erfolgreich getestet
- Stat VF im Test
- Kleinere Anpassungen, ca. 2 Wochen

Neue SARS-CoV-2 Diagnostik Check ETL:

- Stefan mappt auf den internen Code -> die Strecken laufen
- LOINC: noch in Diskussion, Sarah u. Cora sind dran

MHH ETL Mibi:

- Termin mit SZ hat am 16.02.22 stattgefunden -> Schnittstelle HL7 in Komm.server nicht zeitnah, Treffen mit Chefs wird anberau

[2022-02-18 08:39] wulffant commented on #93
AQL-Visu Schnittstellen zu Bewegungsdaten u. Labordaten funktionieren auf SARS-CoV-2 und Mibi

Viruslast zu Quantity umbenannt (Tom mitteilen)
Befundtext eingefügt (Tom mitteilen)

Kontaktnetzwerk funktioniert noch nicht, Behebung folgt

[2022-02-18 08:41] wulffant commented on #78
NoSQL war für NEC Algo. relevant, NEC Algo. wird nicht mehr umgesetzt
ggf. später SQL DB

[2022-02-25 10:33] wulffant commented on #119
Sarah fragt nach

[2022-02-25 10:41] wulffant opened #123 "MHH: Mibi Daten integrieren - SZ"
Termin mit SZ hat am 16.02.22 stattgefunden -> Schnittstelle HL7 in Komm.server nicht zeitnah, Treffen mit Chefs wird anberaumt, Weg für HiGHmed: Integration mit Hamstr, rückwirkend 2017-2021 (SZ stellt Daten bereit), Modellierung bzw. ETL nochmal checken
    Termin mit Sarah für Hamstr Re-Einführung
Pascal schaut nach Weg für Datenbreitstellung von SZ

[2022-02-25 10:42] wulffant commented on #90
Bewegungsdaten:

    Sonst VF erfolgreich getestet
    Stat VF im Test
    Warte auf Rückmeldung vom ZiMt

Neue SARS-CoV-2 Diagnostik Check ETL:

    Stefan mappt auf den internen Code -> die Strecken laufen
    LOINC: noch in Diskussion, Sarah u. Cora sind dran

MHH ETL Mibi: --> neues issue! #123

Aktueller Stand SmICS/Visualisierung MHH:

    Co-Surv-SmICS 1.0 auf Echtdaten [Bewegungsdaten bis

[2022-02-25 10:43] wulffant commented on #113
Sarah hat Dokument geschickt, Review durch @wulffant folgt, Mail zur Info an RKI

[2022-02-25 10:44] wulffant commented on #97
@SarBall fragt nochmal nach

[2022-02-25 10:50] #120 closed, assigned to SarBall

[2022-03-09 09:26] #121 closed, assigned to biermapa

[2022-03-10 09:05] wulffant commented on #123
- SZ hat Daten bereitgestellt 2020-2021
- Antje muss mit Hamstr integrieren, zusammen mit Sarah

[2022-03-10 09:08] wulffant commented on #110
in progress, ca 2 Wochen ??

[2022-03-10 09:11] wulffant commented on #90
Bewegungsdaten:

Rückfragen von Paul beantwortet
Absprache in dieser Woche Pascal, Paul

Neue SARS-CoV-2 Diagnostik Check ETL:

LOINC: Cora hat angefragt

MHH ETL Mibi: --> neues issue! https://github.com/highmed/SmICSCore/issues/123

[2022-03-10 09:12] wulffant commented on #113
Mail an DS

[2022-03-10 09:14] wulffant commented on #93
Test mit Tom nächste Woche
@biermapa

Testdaten Sars-CoV-2 müssten angepasst werden, zB Labor-ID

[2022-03-10 09:15] wulffant commented on #91
Austausch mit Ann-Christin in progress

[2022-03-10 09:20] wulffant commented on #97
Funktioniert nur über Anpassung des Templates, zukünftige Optimierung?

[2022-03-10 09:21] wulffant commented on #109
Sarah modifiziert Text+Bild mit den neuen Screenshots des neuen Layouts